* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  background-color: black;
  color: white;
}
main {
  width: 50vw;
  height: 50vh;
  line-height: 3rem;
}
input {
  border: none;
  background-color: black;
  color: white;
  font-size: larger;
}
input:focus {
  outline: none;
}
button {
  border: none;
  background-color: black;
  color: white;
  font-size: smaller;
}
button:focus {
  outline: none;
}
footer {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: smaller;
}

section {
  border: 1px white solid;
  padding: 6rem;
  font-family: "Itim", cursive;
}
