// LAYOUTS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
  background-color: black;
  color: white;
}

section {
  margin-top: 2rem;
  width: 50vw;
  border: 1px white solid;
  padding: 6rem;
  font-family: "Itim", cursive;
}

// WEBKITS

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(98, 98, 98);
}

// FONTS

h2 {
  margin-bottom: 2rem;
}

// FORMS, BUTTONS, INPUTS

input {
  border: none;
  background-color: black;
  color: white;
  font-size: larger;
  margin-top: 2rem;
}
input:focus {
  outline: none;
}
button {
  border: none;
  background-color: black;
  color: white;
  font-size: smaller;
}
button:focus {
  outline: none;
}

// FOOTER
footer {
  margin-top: 2rem;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: smaller;
}
